<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="head1" runat="server">
        <title></title>
    </head>

<body style="background-color:ThreeDFace;margin:0px;font-family:Arial,helvetica,sans-serif;"></body></HTML>
<style>
    #headimage{margin-left:8px;margin-right:8px;margin-top:0px;}
    #box {background-color:red;margin-left: 8px;margin-right:8px;margin-top:0px;height:35px;font-family:'Comic Sans MS';text-align:left;padding-left:5px;font-size:20px;color:yellow;padding-left:80px;}
    #movies {margin-left:50px;margin-top:10px;margin-right:50px;margin-bottom:10px;}
</style>
<body style ="background-color:ThreeDFace; margin:0px; font-family:Arial, Helvatica,sans-serif;">
<div>
    <img  id="headimage" src="~/ms entertainment images/Presentation1.jpg" height="200"width="1260"/>
    </div>
    <div id ="box">Book your movie tickets online with special deals!!!
        @Html.ActionLink("Home", "Index","Home") |
                  @Html.ActionLink("Upcoming Movies", "UpcomingMovies","Home") |
                  @Html.ActionLink("About Us", "AboutUs","Home") |
                  @Html.ActionLink("Contact Us", "ContactUs","Home") |
                  @Html.ActionLink("Movies", "Index","Movie") |
                  @Html.ActionLink("Register", "create","Registration")
    </div>
    <div id ="movies">
        <table style ="width:100%;"border="0"><tr><td>&nbsp;</td>
            <td style ="background-color:lightgoldenrodyellow"><table style="width:98%;"border="0">
                <tr>
                    <td style="vertical-align:top;">
                        <article>
@model MvcApplication1.Models.Movie

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Movie</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Movie_Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Movie_Name)
            @Html.ValidationMessageFor(model => model.Movie_Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Director)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Director)
            @Html.ValidationMessageFor(model => model.Director)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Producer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Producer)
            @Html.ValidationMessageFor(model => model.Producer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cast)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cast)
            @Html.ValidationMessageFor(model => model.Cast)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Genre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Genre)
            @Html.ValidationMessageFor(model => model.Genre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
                            </article>
                             <td style="width:225px;text-align:left;vertical-align:top;background-color:#fef814"><p><img src="~/ms entertainment images/20160206224739.jpg" width="225"height="268"/></p>
                    @Html.Partial("_partial")</td>
            
                </tr>
            </table></td><td>&nbsp;</td>
        
        </tr>
           <tr><td style="width:10%">&nbsp;</td><td style="text-align:right;font-size:11px;">&copy;2015 MS Entertainment. All rights reserved.</td></tr>
            <tr><td style="width:10%">&nbsp;</td></tr>
    </table></div>
    </body>
     